<ion-header>
  <ion-toolbar>
    <ion-title>
      GDPR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://ackcent.com/img/2018/02/GDPR.jpg" alt="/assets/shapes.svg" />
      <ion-card-header>
        <ion-card-subtitle>GDPR</ion-card-subtitle>
        <ion-card-title>General Data Protection Regulation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify"> Es un reglamento establecido por la Unión Europea que rige la protección y difusión de datos personales, mejorando la privacidad digital para las personas ubicadas en la Unión Europea.

          El objetivo principal que persigue GDPR es servir como un marco unificador, integral, de datos y privacidad para cualquier organización que controle o procese datos de cualquier persona en la Unión Europea. </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
